/* style.css */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.glass-form {
  background: rgb(229 226 246);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  width: 600px;
}

.text-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: #dc3545;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  display: block;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
